fastapi==0.115.12
uvicorn==0.27.1
langchain-core==0.3.49
langchain-community==0.3.20
pinecone-client==3.0.0
pinecone-text==0.10.0
llama-index-core==0.12.26
aiohttp==3.9.5
asyncpg==0.30.0
fastapi==0.115.12
huggingface_hub==0.29.3
langchain_groq==0.3.1
langchain_huggingface==0.1.2
langchain_text_splitters==0.3.7
numpy==1.26.4
pinecone==6.0.2
pydantic==2.11.0
python-dotenv==1.1.0
SQLAlchemy==2.0.29
